<%- include ../partials/header.ejs %>

<div style="width: 700px; margin:auto;">
	<div class="col-sm-offset-2 col-sm-10">
		<h1 class="createAnncTitle"><%=title%></h1>
	</div>
	<form id="announceForm" class="form-horizontal" method="post">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="title">Title</label>
			<div class="col-sm-10">
				<input type="text" name="title" id="title" placeholder="Announcement Title" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="content">Content</label>
			<div class="col-sm-10">
				<textarea name="content" id="content" placeholder="Content" class="form-control" rows="10" required></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Announcement Type</label>
			<div class="col-sm-10">
				<select id="department" class="form-control" name="anncType" required>
				<% for (var i in anncTypes) { %>
					<option value="<%=anncTypes[i]%>"><%=anncTypes[i]%></option>
				<% } %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Interests</label>
			<div class="col-sm-10">
			<% for (var i in interests) { %>
				<div class="checkbox col-sm-6">
					<label>
						<input type="checkbox" name="interests" value="<%=interests[i]%>" />
						<%=interests[i]%>
					</label>
				</div>
			<% } %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Required Courses</label>
			<div class="col-sm-10">
			<% for (var i in courses) { %>
				<div class="checkbox col-sm-6">
					<label>
						<input type="checkbox" name="courses" value="<%=courses[i]%>" />
						<%=courses[i]%>
					</label>
				</div>
			<% } %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Minimum Degree</label>
			<div class="col-sm-10">
				<select id="degree" class="form-control" name="degree" required>
				<% for (var i in degrees) { %>
					<option value="<%=degrees[i]%>"><%=degrees[i]%></option>
				<% } %>
			</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Standing</label>
			<div class="col-sm-10">
				<select id="classStanding" class="form-control" name="classStanding" required>
				<% for (var i in classStandings) { %>
					<option value="<%=classStandings[i]%>"><%=classStandings[i]%></option>
				<% } %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="overallGPA">Minimum Overall GPA</label>
			<div class="col-sm-10">
				<input type="text" name="overallGPA" id="overallGPA" placeholder="Overall GPA" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="technicalGPA">Minimum Technical GPA</label>
			<div class="col-sm-10">
				<input type="text" name="technicalGPA" id="technicalGPA" placeholder="Technical GPA" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="resumeRequired">Resume Required</label>
			<div class="col-sm-10">
				<div class="checkbox col-sm-6">
					<label>
						<input type="checkbox" name="resumeRequired" value="resumeRequired" />
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="/" class="btn btn-warning">Cancel</a>
			</div>
		</div>
	</form>
</div>


<script>
</script>

<%- include ../partials/footer.ejs %>