<%- include ../partials/header.ejs %>
<h1 class="AnncPageTitle"><%=title%></h1>
<div class="row">
	<div id="anncAuthor" class="col-md-3">
		<h2>Author:</h2>
		<div class="picture">
			<img src="http://www.hdwallpapers.in/walls/amanda_seyfried-normal5.4.jpg" />
		</div>
		<span>
			<em><%="author name"%></em><br>
			<%="author netid"%>
		</span>
	</div>
	<div id="anncDetail" class="col-md-9">
		<div class="row">
			<label class="col-sm-3 control-label" for="title">Title:</label>
			<p class="col-sm-9">
				<%="THIS IS THE TITLE"%>
			</p>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label" for="content">Content:</label>
			<p class="col-sm-9">
				<%="THIS IS THE CONTENT"%>
			</p>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label">Announcement Type:</label>
			<div class="col-sm-9">
				<span class="label label-default">
				<%="Research"%>
				</span>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label">Interests:</label>
			<div class="col-sm-9">
				<%
				var interests = ['Data Mining','Database'];
				for (var i in interests) { %>
				<span class="label label-info"><%=interests[i]%></span>
				<% } %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label">Required Courses:</label>
			<div class="col-sm-9">
				<%
				var courses = ['CS 412 Data Mining','CS438 Networking'];
				for (var i in courses) { %>
				<span class="label label-warning"><%=courses[i]%></span>
				<% } %>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label">Minimum Degree:</label>
			<div class="col-sm-9">
				<p><%="Bachelor's"%><p>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label">Standing:</label>
			<div class="col-sm-9">
				<p><%="Junior"%><p>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label" for="overallGPA">Minimum Overall GPA:</label>
			<div class="col-sm-9">
				<p><%="3.4"%><p>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label" for="technicalGPA">Minimum Technical GPA:</label>
			<div class="col-sm-9">
				<p><%="3.6"%><p>
			</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label" for="resumeRequired">Resume Required:</label>
			<div class="col-sm-9">
				<p><%="YES"%><p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-3 col-sm-9">
				<% if (true) {%>
				<a href="/announcement/edit/<%=annc._id%>" class="btn btn-warning">Edit</a>
				<button id="deleteAnnc" class="btn btn-danger" data-annc-Id="<%=annc._id%>">Delete</button>
				<%} else {%>
				<button id="bookmark" class="btn btn-danger" data-annc-Id="<%=annc._id%>">Bookmark</button>
				<button id="unbookmark" class="btn btn-danger" data-annc-Id="<%=annc._id%>" style="display:none">Unbookmark</button>
				<a href="/announcement/apply/<%=annc._id%>" button id="apply" class="btn btn-success">Apply</button>
			</div>
		</div>
	</div>
</div>


<script>

$('#bookmark').click(function(){
	$.ajax({
		url: "/announcement/bookmark",
		type: 'POST',
		data: {id: $(this).data('anncId')},
		success: function(data, textStatus, xhr) {
			if (data == "true"){
				var $bookmark = $('#bookmark');
				$bookmark.parent().removeClass("validate-error");
				$bookmark.css("display","none");
				$("#unbookmark").css("display","inline");
				var $errorMsg = $("errorMsg");
				if ($errorMsg!=null)
					$errorMsg.remove();
			}
			else {
				var $msgContainer = $('#bookmark').parent();
				$msgContainer.addClass("validate-error");
				$msgContainer.append( "<p id=\"errorMsg\">Failed to bookmark.</p>" );
			}
		}
	});
});

$('#unbookmark').click(function(){
	$.ajax({
		url: "/announcement/unbookmark",
		type: 'POST',
		data: {id: $(this).data('anncId')},
		success: function(data, textStatus, xhr) {
			if (data == "true"){
				var $unbookmark = $('#unbookmark');
				$unbookmark.parent().removeClass("validate-error");
				$unbookmark.css("display","none");
				$("#bookmark").css("display","inline");
				var $errorMsg = $("errorMsg");
				if ($errorMsg!=null)
					$errorMsg.remove();
			}
			else {
				var $msgContainer = $('#unbookmark').parent();
				$msgContainer.addClass("validate-error");
				$msgContainer.append( "<p id=\"errorMsg\">Failed to unbookmark.</p>" );
			}
		}
	});
});

$('#deleteAnnc').click(function(){
	$.post( "announcement/deletePost", {id: $(this).data('anncId')} );
});

</script>

<%- include ../partials/footer.ejs %>