<%- include ../partials/header.ejs %>

<div style="width: 700px; margin:auto;">
	<div class="col-sm-offset-2 col-sm-10">
		<h1 class="createAnncTitle"><%=title%></h1>
	</div>
	<form id="announceForm" class="form-horizontal" method="post">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="title">Title</label>
			<div class="col-sm-10">
				<input type="text" name="title" id="title" value="<%=annc.title%>" placeholder="Announcement Title" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="content">Content</label>
			<div class="col-sm-10">
				<textarea name="content" id="content" placeholder="Content" class="form-control" rows="10" required>
					<%=annc.content%>
				</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Announcement Type</label>
			<div class="col-sm-10">
				<select id="department" class="form-control" name="anncTypes" required>
				<% for (var i in anncTypes) { %>
					<option value="<%=anncTypes[i]%>"><%=anncTypes[i]%></option>
				<% } %>
				
				<% for (var i in anncTypes) { 
					if (annc.anncTypes == anncTypes[i]){
					%>
					<option value="<%=anncTypes[i]%>" selected><%=anncTypes[i]%></option>
					<%
				} else{ %>
					<option value="<%=anncTypes[i]%>"><%=anncTypes[i]%></option>
				<% } }%>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Interests</label>
			<div class="col-sm-10">
				<div class="row">
					<div class="ui-widget col-sm-10">
						<input id="interests" class="form-control" data-interests="<%=interests%>" data-my-interests="<%=annc.interests%>">
					</div>
				</div>
				<br>
				<div id="interestList" class="row">					
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Required Courses</label>
			<div class="col-sm-10">
			 	<div class="row">
					<div class="ui-widget col-sm-10">
						<input id="courses" class="form-control" data-courses="<%=interests%>" data-my-courses="<%=annc.coursesTaken%>">
					</div>
				</div>
				<br>
				<div id="courseList" class="row">					
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Minimum Degree</label>
			<div class="col-sm-10">
				<select id="degree" class="form-control" name="degree" required>
				<% for (var i in degrees) { 
					if (annc.degree == degrees[i]){
					%>
					<option value="<%=degrees[i]%>" selected><%=degrees[i]%></option>
					<%
				} else{ %>
					<option value="<%=degrees[i]%>"><%=degrees[i]%></option>
				<% } }%>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Standing</label>
			<div class="col-sm-10">
				<select id="classStanding" class="form-control" name="classStanding" required>
				<% for (var i in classStandings) { 
					if (annc.classStanding == classStandings[i]){
					%>
					<option value="<%=classStandings[i]%>" selected><%=classStandings[i]%></option>
					<%
				} else{ %>
					<option value="<%=classStandings[i]%>"><%=classStandings[i]%></option>
				<% } }%>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="overallGPA">Minimum Overall GPA</label>
			<div class="col-sm-10">
				<input type="text" name="overallGPA" id="overallGPA" value="<%=annc.overallGPA%>" placeholder="Overall GPA" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="technicalGPA">Minimum Technical GPA</label>
			<div class="col-sm-10">
				<input type="text" name="technicalGPA" id="technicalGPA" value="<%=annc.technicalGPA%>" placeholder="Technical GPA" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="resumeRequired">Resume Required</label>
			<div class="col-sm-10">
				<div class="checkbox col-sm-6">
					<label>
						<input type="checkbox" name="resumeRequired" value="resumeRequired" 
							<% if (annc.resumeRequired){ %> checked="checked" <% } %></>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button id="#announceFormBtn" type="submit" class="btn btn-primary">Submit</button>
				<a href="/announcement/<%=annc._id%>" class="btn btn-warning">Cancel</a>
			</div>
		</div>
	</form>
</div>


<script>
var count = 1;
var interestsAdded = [];
$(function() {
    var availableTags = $("#interests").data("interests").split(",");
    $("#interests").autocomplete({
		source: availableTags
	});

    if ($("#interests").data("myInterests")=="undefined"){
    	return;
    }
    
    var myInterests = $("#interests").data("myInterests").split(",");
	
    for (var i in myInterests){
    	var input = myInterests[i];
	    if (interestsAdded.length!=0 && interestsAdded.length%3==0){
			$("<br><br>").appendTo("#interestList");
		}
		
		interestsAdded.push(input);
		
		var innerHtml = "<span id=\"interestSelected"+count+"\" class=\"label label-default interest\" >"+
			input+"<span id=\"interestDelete"+count+"\" class=\"badge\">X</span></span>";
	
		innerHtml += "<input type=\"checkbox\" name=\"interests\" id=\"interestHidden"+count+"\""+
					" checked value=\""+input+"\" style=\"display:none;\" >";
		
		$(innerHtml).appendTo("#interestList");
		
		$("#interestDelete"+count).data("count", count);
		$("#interestDelete"+count).click(function(){
			var c = $(this).data("count");
			$("#interestSelected"+c).remove();
			$("#interestHidden"+c).remove();
		});
		count++;
    }
});

var count2 = 1;
var coursesAdded = [];
$(function() {
    var availableTags = $("#courses").data("courses").split(",");
    $("#courses").autocomplete({
		source: availableTags
	});
    
    if ($("#courses").data("myCourses")=="undefined"){
    	return;
    }
    
    var myCourses = $("#courses").data("myCourses").split(",");
    
    for (var i in myCourses){
    	var input = myCourses[i];
    	if (coursesAdded.length!=0 && coursesAdded.length%2==0){
			$("<br><br>").appendTo("#courseList");
		}
    	
		coursesAdded.push($("#courses").val());
		var innerHtml = "<span id=\"courseSelected"+count2+"\" class=\"label label-info course\" >"+
			input+"<span id=\"courseDelete"+count2+"\" class=\"badge\">X</span></span>";

		innerHtml += "<input type=\"checkbox\" name=\"coursesTaken\" id=\"courseHidden"+count2+"\""+
					" checked value=\""+input+"\" style=\"display:none;\" >";
		
		$(innerHtml).appendTo("#courseList");
		$("#courseDelete"+count2).data("count", count2);
		$("#courseDelete"+count2).click(function(){
			var c = $(this).data("count");
			$("#courseSelected"+c).remove();
			$("#courseHidden"+c).remove();
		});
		count2++;
    }
});

$(document).ready(function(){
	document.getElementById("announceForm").onsubmit = function () {
	    return false;
	};
	
	$("#announceFormBtn").click(function(){
		document.getElementById("announceForm").onsubmit = function () {
		    return true;
		};
		$("#announceForm").submit();
	});
	
    $("#interests").keypress(function(e) {
    	var code = e.charCode || e.keyCode;
		if(code == 13) {  
			e.preventDefault();
			var input = $("#interests").val();
	    	if ( $("#interests").data("interests").split(",").indexOf(input) < 0 || 
	    			(interestsAdded.length > 0 && interestsAdded.indexOf(input) >= 0) ){
	    	}
	    	else {
	    		if (interestsAdded.length!=0 && interestsAdded.length%3==0){
	    			$("<br><br>").appendTo("#interestList");
	    		}
	    		
	    		interestsAdded.push(input);
	    		
	    		var innerHtml = "<span id=\"interestSelected"+count+"\" class=\"label label-default interest\" >"+
	    			input+"<span id=\"interestDelete"+count+"\" class=\"badge\">X</span></span>";

				innerHtml += "<input type=\"checkbox\" name=\"interests\" id=\"interestHidden"+count+"\""+
							" checked value=\""+input+"\" style=\"display:none;\" >";
				
	    		$(innerHtml).appendTo("#interestList");
	    		
	    		$("#interestDelete"+count).data("count", count);
	    		$("#interestDelete"+count).click(function(){
	    			var c = $(this).data("count");
	    			$("#interestSelected"+c).remove();
	    			$("#interestHidden"+c).remove();
	    		});
	    		count++;
	    	}
	    	
			return false;
		}
    });
    
    $("#courses").keypress(function(e) {
    	var code = e.charCode || e.keyCode;
		if(code == 13) {  
			e.preventDefault();
			var input = $("#courses").val();
	    	if ( $("#courses").data("courses").split(",").indexOf(input) < 0 || 
	    			(coursesAdded.length > 0 && coursesAdded.indexOf(input) >= 0) ){
	    	}
	    	else {
	    		if (coursesAdded.length!=0 && coursesAdded.length%2==0){
	    			$("<br><br>").appendTo("#courseList");
	    		}
	    		
	    		coursesAdded.push($("#courses").val());
	    		var innerHtml = "<span id=\"courseSelected"+count2+"\" class=\"label label-info course\" >"+
					input+"<span id=\"courseDelete"+count2+"\" class=\"badge\">X</span></span>";

				innerHtml += "<input type=\"checkbox\" name=\"coursesTaken\" id=\"courseHidden"+count2+"\""+
					" checked value=\""+input+"\" style=\"display:none;\" >";
			
				$(innerHtml).appendTo("#courseList");
	    		
	    		$("#courseDelete"+count).data("count", count2);
	    		$("#courseDelete"+count).click(function(){
	    			var c = $(this).data("count");
	    			$("#courseSelected"+c).remove();
	    			$("#courseHidden"+c).remove();
	    		});
	    		count++;
	    		alert($("#announceForm").serialize());
	    	}
			return false;
		}
    });
});
</script>

<%- include ../partials/footer.ejs %>