<%- include ../partials/header.ejs %>

<h1><%= title %></h1>
<p><%= description %></p>
<div>
	<form>
		netID: <input type="text" name="netid"><br>
		First Name: <input type="text" name="firstname"><br>
		Last Name: <input type="text" name="lastname"><br>
		Department:
		<select>
			<% 
				// DB call to get the list of departments
				var dept = new Array("CS", "ECE", "ENG");
				for (var i=0; i<dept.length; i++) { 
			%>
					<option value="<%= dept[i] %>"><%= dept[i] %></option>
			<%
				}
			%>
		</select>
		Field of Interest: <input type="text" name="interest"><br>
		
	</form>
</div>
<%- include ../partials/footer.ejs %>