<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><%=userDetail.firstName%> <%=userDetail.lastName%></h4>
	<span class="email">
		<em><a href="mailto:<%=userDetail.netId%>@illinois.edu"><%=userDetail.netId%>@illinois.edu</a></em>
	</span>
</div>
<div class="modal-body">
	<div class="row">
		<div id="modalPicture" class="col-md-5">
			<img src="http://www.hdwallpapers.in/walls/amanda_seyfried-normal5.4.jpg" />
		</div>
		<div id="modalProfile">
			<p>
				<% if (userDetail.userType == userConst.TYPE_STUDENT) { %>
					<em><%=userDetail.extension.degree%> (<%=userDetail.extension.classStanding%>) in <%=userDetail.department%></em>
				<% } else {%>
					<em>Faculty in <%=userDetail.department%></em>
				<% } %>
			</p>
			<p class="intro">
				<%=userDetail.intro%>...
				<a data-toggle="modal" data-target="#fullIntroModal"><em>more</em></a>
			</p>
			<p class="interests">
				<% for (var i in userDetail.interests) { %>
				<span class="label label-info"><%=userDetail.interests[i]%></span>
				<% } %>
			</p>
			<div class="buttons">
				<button type="button" class="btn">
					Followings <span id="followingCount" class="badge"><%=userDetail.followings.length%></span>
				</button>
				<button type="button" class="btn">
					Follower <span class="badge"><%=userDetail.followers.length%></span>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" onclick="onToggleFollow('<%=userDetail._id%>')">Follow</button>
</div>
