<%- include ../partials/header.ejs %>

<div style="width: 560px; margin:auto;">
	<h1><%=title%></h1>

	<form id="signupForm" class="form-horizontal" method="post">
		<input type="hidden" name="userType" value="<%=userType%>" />
		<div class="form-group">
			<label class="col-sm-3 control-label" for="netId">Net ID</label>
			<div class="col-sm-9">
				<input type="text" name="netId" id="netId" placeholder="Net ID" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="password">Password</label>
			<div class="col-sm-9">
				<input type="password" name="password" id="password" placeholder="Password" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="confirm">Confirm</label>
			<div class="col-sm-9">
				<input type="password" id="confirm" name="confirm" placeholder="Password Confirm" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="firstName">First Name</label>
			<div class="col-sm-9">
				<input type="text" id="firstName" placeholder="First Name" name="firstName" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="lastName">Last Name</label>
			<div class="col-sm-9">
				<input type="text" id="lastName" placeholder="Last Name" name="lastName" class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Department</label>
			<div class="col-sm-9">
				<select id="department" class="form-control" name="department" required>
				<% for (var i in departments) { %>
					<option value="<%=departments[i]%>"><%=departments[i]%></option>
				<% } %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Interests</label>
			<div class="col-sm-9">
				<div class="ui-widget">
					<input id="interests" class="form-control" data-interests="<%=interests%>">
				</div>
				<br>
				<div id="interestList">					
				</div>
			</div>
		</div>
		<% if (userType == userConst.TYPE_STUDENT) { %>
			<div class="form-group">
				<label class="col-sm-3 control-label">Degree</label>
				<div class="col-sm-9">
					<select id="degree" class="form-control" name="degree" required>
					<% for (var i in degrees) { %>
						<option value="<%=degrees[i]%>"><%=degrees[i]%></option>
					<% } %>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Standing</label>
				<div class="col-sm-9">
					<select id="classStanding" class="form-control" name="classStanding" required>
					<% for (var i in classStandings) { %>
						<option value="<%=classStandings[i]%>"><%=classStandings[i]%></option>
					<% } %>
					</select>
				</div>
			</div>
		<% } else if (userType == userConst.TYPE_FACULTY) { %>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="websiteUrl">Website</label>
				<div class="col-sm-9">
					<input type="url" id="websiteUrl" name="websiteUrl" class="form-control" />
				</div>
			</div>
		<% } %>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="hidden" name="intro" value="You can edit this introduction.">
				<button type="submit" class="btn btn-primary">Sign Up</button>
			</div>
		</div>
	</form>
</div>
<!-- 


 -->
<script>
$(function() {
    var availableTags = $("#interests").data("interests").split(",");
    $("#interests").autocomplete({
		source: availableTags
	});
});

var count = 1;
var interestsAdded = [];
$("#interests").keypress(function(e) {
    if(e.which == 13) {
    	event.preventDefault();
    	
    	var input = $("#interests").val();
    	if ( $("#interests").data("interests").split(",").indexOf(input) < 0 || 
    			(interestsAdded.length > 0 && interestsAdded.indexOf(input) >= 0) ){
    	}
    	else {
    		if (interestsAdded.length!=0 && interestsAdded.length%3==0){
    			$("<br><br>").appendTo("#interestList");
    		}
    		
    		interestsAdded.push(input);
    		
    		var innerHtml = "<span id=\"interestSelected"+count+"\" class=\"label label-default interest\" >"+
    			input+"<span id=\"interestDelete"+count+"\" class=\"badge\">X</span></span>";

			innerHtml += "<input type=\"checkbox\" name=\"interests\" id=\"interestHidden"+count+"\""+
						" checked value=\""+input+"\" style=\"display:none;\" >";
			
    		$(innerHtml).appendTo("#interestList");
    		
    		$("#interestDelete"+count).data("count", count);
    		$("#interestDelete"+count).click(function(){
    			var c = $(this).data("count");
    			$("#interestSelected"+c).remove();
    			$("#interestHidden"+c).remove();
    		});
    		count++;
    	}
    }
});

jQuery.validator.addMethod("isValidNetId", 
	function(value, element) {
    	return /\b[a-zA-Z]+[0-9]+\b/.test(value);
    },
    jQuery.validator.format("Please enter a valid netID.")
);

jQuery.validator.addMethod("isValidName", 
	function(value, element) {
    	return /\b[a-zA-Z]+\b/.test(value);
    },
    jQuery.validator.format("Only alphabets are allowed for names.")
);

$('#signupForm').validate({
	rules: {
		netId: {
			isValidNetId: true,
			remote: {
				url: "/account/register/validate",
				type: "post"
			}			
		},
		password: {
			minlength: 8,
			maxlength: 20
		},
		firstName: {
			isValidName: true
		},
		lastName: {
			isValidName: true
		},
		confirm: {
			equalTo: "#password"
		}
	},
	errorClass: "validate-error",
	messages: {
		netId: {
			remote: jQuery.validator.format("{0} is already taken.")
		}
	}
});
</script>

<%- include ../partials/footer.ejs %>