<%- include ../partials/header.ejs %>

<h1><%= title %></h1>

<% if (userType == "S"){ %>
<form id="signupForm" method="post" action="/account/registerComplete/S">
<% } else { %>
<form id="signupForm" method="post" action="/account/registerComplete/F">
<% } %>
	<div class="form-group">
		<div class="col-sm-3">
			NetID: <input type="text" class="form-control" id="netId" name="netId" required/><br>
			Password: <input type="password" class="form-control" id="pw1" name="password" required /><br>
			Re-enter Password: <input type="password" class="form-control" id="pw2" name="pw2" required /><br>
			First Name: <input type="text" class="form-control" id="firstName" name="firstname" required /><br>
			Last Name: <input type="text" class="form-control" id="lastName" name="lastname" required /><br>
			Field of Interest:
			<select id="interest" class="form-control" name="interest" required>
				<% 
					var interest = new Array("", "Data Mining", "Machine Learning", "darkoworld");
					for (var i=0; i<interest.length; i++) { 
				%>
						<option value="<%= interest[i] %>"><%= interest[i] %></option>
				<%
					}
				%>
			</select><br>
			Department:
			<select id="department" class="form-control" name="department" required>
				<% 
					// DB call to get the list of departments
					var dept = new Array("","CS", "ECE", "ENG");
					for (var i=0; i<dept.length; i++) { 
				%>
						<option value="<%= dept[i] %>"><%= dept[i] %></option>
				<%
					}
				%>
			</select><br>
			<% if (userType == "S"){ %>
			Year in School:
			<select id="standing" class="form-control" name="standing" required> 
				<% 
					var yearSchool = new Array("", "Freshman", "Sophomore", "Junior", "Senior");
					for (var i=0; i<yearSchool.length; i++) { 
				%>
						<option value="<%= yearSchool[i] %>"><%= yearSchool[i] %></option>
				<%
					}
				%>
			</select><br>
			Degree:
			<select id="degree" class="form-control" name="degree" required>
				<% 
					var degrees = new Array("", "Undergraduate", "Graduate", "Masters");
					for (var i=0; i<degrees.length; i++) { 
				%>
						<option value="<%= degrees[i] %>"><%= degrees[i] %></option>
				<%
					}
				%>
			</select><br>
			<% } %>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>

<script>
$('#signupForm').validate({
	rules: {
		pw2: {
			equalTo: "#pw1"
		}
	}
	errorClass: "validate-error",
	
	messages: {
		remote: jQuery.validator.format("{0} is already taken.")
	}
});
</script>

<%- include ../partials/footer.ejs %>