<%- include ../partials/header.ejs %>

<h1><%= title %></h1>

<form method="post" action="/signUpPgs/register/F">
	NetID: <input type="text" id="netId" name="netId"><br>
	Password: <input type="password" id="pw1" name="pw1"><br>
	Re-enter Password: <input type="password" id="pw2" name="pw2"><br>
	First Name: <input type="text" id="firstName" name="firstname"><br>
	Last Name: <input type="text" id="lastName" name="lastname"><br>
	Field of Interest:
	<select id="interest" name="interest">
		<% 
			var interest = new Array("", "Data Mining", "Machine Learning", "darkoworld");
			for (var i=0; i<interest.length; i++) { 
		%>
				<option value="<%= interest[i] %>"><%= interest[i] %></option>
		<%
			}
		%>
	</select><br>
	Department:
	<select id="department" name="department">
		<% 
			// DB call to get the list of departments
			var dept = new Array("","CS", "ECE", "ENG");
			for (var i=0; i<dept.length; i++) { 
		%>
				<option value="<%= dept[i] %>"><%= dept[i] %></option>
		<%
			}
		%>
	</select><br>
	<input type="submit" onclick="return checkInputs(this.form);" value="Submit">
</form>


<script>

function isValidNetId(netId) {
	alert("SDJFOISDJF");
	var regex = new RegExp("^[a-zA-Z0-9.]*$");
    return regex.test(netId);
} 

function isValidName(name) { 
	var regex = new RegExp("^[a-zA-Z0-9.-]*$");
    return regex.test(name);
}

function checkInputs(form) {
	var pw1 = $("#pw1").val();
	var pw2 = $("#pw2").val();
	var netId = $("#netId").val();
	var firstName = $("#firstName").val();
	var lastName = $("#lastName").val();
	var interest = $("#interest").val();
	var department = $("#department").val();
	
	if (pw1=="" || pw2=="" || pw1!=pw2){
		alert("Your passwords don't match");
		return false;
	}
	if (netId=="" || !isValidNetId(netId)) {
		alert("Your netID is not valid");
		return false;
	}
	if (firstName=="" || lastName=="" || !isValidName(firstName) || !isValidName(lastName)) {
		alert("Your name is not valid");
		return false;
	}
	if (interest==""){
		alert("Please choose your interest");
		return false;
	}
	if (department==""){
		alert("Please choose your department");
		return false;
	}
	return true;
}
</script>


<%- include ../partials/footer.ejs %>