<%- include ../partials/header.ejs %>

<h1><%= title %></h1>

<<<<<<< HEAD
<form id="signupForm" method="post" action="/signUpPgs/register/S">
	NetID: <input type="text" id="netId" name="netId"><br>
	Password: <input type="password" id="pw1" name="password"><br>
	Re-enter Password: <input type="password" id="pw2" name="pw2"><br>
	First Name: <input type="text" id="firstName" name="firstname"><br>
	Last Name: <input type="text" id="lastName" name="lastname"><br>
=======
<form method="post" action="/signUpPgs/register/S">
	<div class="form-group">
	<div class="col-sm-3">
	NetID: <input type="text" class="form-control" id="netID" name="netID"><br>
	Password: <input type="password" class="form-control" id="pw1" name="password"><br>
	Re-enter Password: <input type="password" class="form-control" id="pw2" name="pw2"><br>
	First Name: <input type="text" class="form-control" id="firstName" name="firstname"><br>
	Last Name: <input type="text" class="form-control" id="lastName" name="lastname"><br>
>>>>>>> 16fea18ce9a5b1370d64e50361349ab30f97f26b
	Field of Interest:
	<select id="interest" class="form-control" name="interest">
		<% 
			var interest = new Array("", "Data Mining", "Machine Learning", "darkoworld");
			for (var i=0; i<interest.length; i++) { 
		%>
				<option value="<%= interest[i] %>"><%= interest[i] %></option>
		<%
			}
		%>
	</select><br>
	Department:
	<select id="department" class="form-control" name="department">
		<% 
			// DB call to get the list of departments
			var dept = new Array("","CS", "ECE", "ENG");
			for (var i=0; i<dept.length; i++) { 
		%>
				<option value="<%= dept[i] %>"><%= dept[i] %></option>
		<%
			}
		%>
	</select><br>
	Year in School:
	<select id="standing" class="form-control" name="standing">
		<% 
			var yearSchool = new Array("", "Freshman", "Sophomore", "Junior", "Senior");
			for (var i=0; i<yearSchool.length; i++) { 
		%>
				<option value="<%= yearSchool[i] %>"><%= yearSchool[i] %></option>
		<%
			}
		%>
	</select><br>
<<<<<<< HEAD
	Degree:
	<select id="degree" name="degree">
		<% 
			var degrees = new Array("", "Undergraduate", "Graduate", "Masters");
			for (var i=0; i<degrees.length; i++) { 
		%>
				<option value="<%= degrees[i] %>"><%= degrees[i] %></option>
		<%
			}
		%>
	</select><br>
	<input type="submit" onclick="return checkInputs(this.form);" value="Submit">
=======
	<input type="submit" class="btn btn-primary" onclick="return checkInputs(this.form);" value="Submit">
	</div>
	</div>
>>>>>>> 16fea18ce9a5b1370d64e50361349ab30f97f26b
</form>


<script>
function isValidNetId(netId) { 
	var regex = new RegExp("^[a-zA-Z0-9.]*$");
    return regex.test(netId);
} 

function isValidName(netId) { 
	var regex = new RegExp("^[a-zA-Z0-9.-]*$");
    return regex.test(netId);
}

function checkInputs(form) {
	var pw1 = $("#pw1").val();
	var pw2 = $("#pw2").val();
	var netId = $("#netId").val();
	var firstName = $("#firstName").val();
	var lastName = $("#lastName").val();
	var interest = $("#interest").val();
	var department = $("#department").val();
	var standing = $("#standing").val();
	var degree = $("#degree").val();
	
	if (pw1=="" || pw2=="" || pw1!=pw2){
		alert("Your passwords don't match");
		return false;
	}
	if (netId=="" || !isValidNetId(netId)) {
		alert("Your netID is not valid");
		return false;
	}
	if (firstName=="" || lastName=="" || !isValidName(firstName) || !isValidName(lastName)) {
		alert("Your name is not valid");
		return false;
	}
	if (interest==""){
		alert("Please choose your interest");
		return false;
	}
	if (department==""){
		alert("Please choose your department");
		return false;
	}
	if (standing==""){
		alert("Please choose your standing");
		return false;
	}
	if (degree==""){
		alert("Please choose your degree");
		return false;
	}
	
	//var params = "netId="+netId
	//+ "&password="+pw1 + "&firstName="+firstName + "&lastName=" + lastName
		//		+ "&interest=" + interest + "&department=" + department + "&standing=" + standing + "&degree=" + degree;
	alert(params);
	$.get("/signUpPgs/signupValidate/S", { netId : netId }, function(data) {
        	// return 1: success, 0: failture
            if (data == "1"){
                $('#signupForm').submit();
            }
            else {
                alert("Sign up failed due to an invalid input.")
            }
	});

    return false;
}
</script>
