<%- include partials/header.ejs %>
	<div id="topContainer" class="row">
		<div class="col-xs-3">
			<div id="pictureContainer">
				<div class="picture">
				<% if (user.profilePicUrl != null) { %>
					<img src="<%=user.profilePicUrl%>" />
				<% } %>
				</div>
			</div>
		</div>
		<div id="profileContainer" class="col-xs-9">
			<h1 class="name">
				<%=user.firstName%>
				<%=user.lastName%>
				<span class="email">
					<em><a href="mailto:<%=user.netId%>@illinois.edu"><%=user.netId%>@illinois.edu</a></em>
				</span>
			</h1>
			<p>
				<% if (user.userType == userConst.TYPE_STUDENT) { %>
					<em><%=user.extension.degree%> (<%=user.extension.classStanding%>) in <%=user.department%></em>
				<% } else {%>
					<em>Faculty in <%=user.department%></em>
				<% } %>
			</p>
			<p class="intro">
				<%=user.intro%>...
				<a data-toggle="modal" data-target="#fullIntroModal"><em>more</em></a>
			</p>
			<p class="interests">
				<% for (var i in user.interests) { %>
				<span class="label label-default"><%=user.interests[i]%></span>
				<% } %>
			</p>
			<div class="buttons">
				<a class="btn btn-lgray btn-xs" data-toggle="modal" href="/embedded/followings" data-target="#followingsModal">
					Followings <span id="followingCount" class="badge"><%=user.followings.length%></span>
				</a>
				<a class="btn btn-lgray btn-xs" data-toggle="modal" href="/embedded/followers" data-target="#followersModal">
					Followers <span class="badge"><%=user.followers.length%></span>
				</a>
			</div>
		</div>
	</div>
	<div id="bottomContainer" class="row">
		<div id="mainContainer" class="col-xs-9">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#anncRecList" data-toggle="tab">Announcements</a></li>
				<li><a href="#anncFollowerList" data-toggle="tab">Followings</a></li>
				<li><a href="#archive" data-toggle="tab">Archive</a></li>
				<li><a href="#anncMyList" data-toggle="tab">My Announcements</a></li>
				<li><a href="#anncBookmarked" data-toggle="tab">Bookmarks</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="anncRecList">
					<div class="anncList">
						<%  
						for (var i in recDetails) { %>
						<div class="row">
							<div class="col-xs-2">
								<img src="/media/<%=recDetails[i].author._id%>/picture/<%=recDetails[i].author.netId%>" />
							</div>
							<div class="col-xs-7">
								<h1 class="title">
									<a href="announcement/<%=recDetails[i]._id%>"><%=recDetails[i].title%></a>
									<span class="author">
										<em><%=recDetails[i].author.name%></em>
									</span>
								</h1>
								<p class="contentBrief">
									<%=recDetails[i].content%>...
									<span class="timeStamp">
										<em>
										<% var date = recDetails[i].timeStamp; %>
										<%=""+date.getDate()+"/"
											+(date.getMonth()+1)+"/"
											+date.getFullYear()+" @ "
											+date.getHours()+":"
											+date.getMinutes()+":" 
											+date.getSeconds()
										%>
										</em>
									</span>
								</p>
								<p class="anncTypes">
									<span class="label label-default"><%=recDetails[i].anncTypes%></span>
								</p>
							</div>
						</div>
						<% } %>
					</div>
				</div>
				<div class="tab-pane" id="anncFollowerList">
					<div class="anncList">
						<%  
						for (var i in followBriefs) { %>
						<div class="row">
							<div class="col-xs-2">
								<img src="/media/<%=followBriefs[i].author._id%>/picture/<%=followBriefs[i].author.netId%>" />
							</div>
							<div class="col-xs-7">
								<h1 class="title">
									<a href="announcement/<%=followBriefs[i].detailId%>"><%=followBriefs[i].title%></a>
									<span class="author">
										<em><%=followBriefs[i].author.name%></em>
									</span>
								</h1>
								<p class="contentBrief">
									<%=followBriefs[i].contentBrief%>...
									<span class="timeStamp">
										<em>
										<% var date = followBriefs[i].timeStamp; %>
										<%=""+date.getDate()+"/"
											+(date.getMonth()+1)+"/"
											+date.getFullYear()+" @ "
											+date.getHours()+":"
											+date.getMinutes()+":" 
											+date.getSeconds()
										%>
										</em>
									</span>
								</p>
								<p class="anncTypes">
									<span class="label label-default"><%=followBriefs[i].anncTypes%></span>
								</p>
							</div>
						</div>
						<% } %>
					</div>
				</div>
				<div class="tab-pane" id="archive">
					<div class="anncList">
						<%  
						for (var i in anncBriefs) { %>
						<div class="row">
							<div class="col-xs-2">
								<img src="/media/<%=anncBriefs[i].author._id%>/picture/<%=anncBriefs[i].author.netId%>" />
							</div>
							<div class="col-xs-7">
								<h1 class="title">
									<a href="announcement/<%=anncBriefs[i].detailId%>"><%=anncBriefs[i].title%></a>
									<span class="author">
										<em><%=anncBriefs[i].author.name%></em>
									</span>
								</h1>
								<p class="contentBrief">
									<%=anncBriefs[i].contentBrief%>...
									<span class="timeStamp">
										<em>
										<% var date = anncBriefs[i].timeStamp; %>
										<%=""+date.getDate()+"/"
											+(date.getMonth()+1)+"/"
											+date.getFullYear()+" @ "
											+date.getHours()+":"
											+date.getMinutes()+":" 
											+date.getSeconds()
										%>
										</em>
									</span>
								</p>
								<p class="anncTypes">
									<span class="label label-default"><%=anncBriefs[i].anncTypes%></span>
								</p>
							</div>
						</div>
						<% } %>
					</div>
				</div>
				<div class="tab-pane" id="anncMyList">
					<div class="anncList">
						<%  
						for (var i in anncBriefs) { 
						if (anncBriefs[i].author.netId == user.netId){
						%>
						<div class="row">
							<div class="col-xs-2">
								<img src="/media/<%=anncBriefs[i].author._id%>/picture/<%=anncBriefs[i].author.netId%>" />
							</div>
							<div class="col-xs-7">
								<h1 class="title">
									<a href="announcement/<%=anncBriefs[i].detailId%>"><%=anncBriefs[i].title%></a>
									<span class="author">
										<em><%=anncBriefs[i].author.name%></em>
									</span>
								</h1>
								<p class="contentBrief">
									<%=anncBriefs[i].contentBrief%>...
									<span class="timeStamp">
										<em>
										<% var date = anncBriefs[i].timeStamp; %>
										<%=""+date.getDate()+"/"
											+(date.getMonth()+1)+"/"
											+date.getFullYear()+" @ "
											+date.getHours()+":"
											+date.getMinutes()+":" 
											+date.getSeconds()
										%>
										</em>
									</span>
								</p>
								<p class="anncTypes">
									<span class="label label-default"><%=anncBriefs[i].anncTypes%></span>
								</p>
							</div>
						</div>
						<% } 
						} %>
					</div>
				</div>
				<div class="tab-pane" id="anncBookmarked">
					<div class="anncList">
						<%  
						for (var i in user.bookmarkedAnncs) { %>
						<div class="row">
							<div class="col-xs-2">
								<img src="/media/<%=user.bookmarkedAnncs[i].author._id%>/picture/<%=user.bookmarkedAnncs[i].author.netId%>" />
							</div>
							<div class="col-xs-7">
								<h1 class="title">
									<a href="announcement/<%=user.bookmarkedAnncs[i].detailId%>"><%=user.bookmarkedAnncs[i].title%></a>
									<span class="author">
										<em><%=user.bookmarkedAnncs[i].author.name%></em>
									</span>
								</h1>
								<p class="contentBrief">
									<%=user.bookmarkedAnncs[i].contentBrief%>...
									<span class="timeStamp">
										<em>
										<%=user.bookmarkedAnncs[i].timeStamp %>
										</em>
									</span>
								</p>
								<p class="anncTypes">
									<span class="label label-default"><%=user.bookmarkedAnncs[i].anncTypes%></span>
								</p>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<div id="sideContainer" class="col-xs-3">
			<p>Now Loadng...</p>
		</div>
	</div>
</div>

<!-- Full Intro Modal -->
<div class="modal fade" id="fullIntroModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Introduction</h4>
			</div>
			<div class="modal-body">
				<p><%=user.intro%></p> 
			</div>
		</div>
	</div>
</div>

<!-- User Profile Modal -->
<div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<!-- Followings Modal -->
<div class="modal fade" id="followingsModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<!-- Followers Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<!-- User Following list modal -->
<div class="modal fade" id="userFollowingListModal" tabindex="-1" role="dialog" aria-labelledby="userFollowingListModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

<script>
// ajax call for suggested users
function updateSuggestedUsers() {
	$.get('/embedded/suggestedusers', function(suggestedUsersHtml) {
		$('#sideContainer').html(suggestedUsersHtml);
	});	
}

function onToggleFollow(targetId) {
	$.post('/api/follow', { id : targetId }, function(sessionUser) {
		$('#followingCount').html(sessionUser.followings.length);
		$('#' + targetId).fadeOut('fast');
		$('.modal').modal('hide');

		updateSuggestedUsers();
	});
}

$('body').on('hidden.bs.modal', '.modal', function () {
	$(this).removeData('bs.modal');
});

updateSuggestedUsers();
</script>

<%- include partials/footer.ejs %>