<%- include ../partials/header.ejs %>

<div style="width: 560px; margin:auto;">
	<h1><%=title%></h1>
	
	<ul class="nav nav-tabs ">
		<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
		<li><a href="#addtionalInfo" data-toggle="tab">Additional Information</a></li>
		<li><a href="#privacy" data-toggle="tab">Privacy Setting</a></li>
	</ul>
	
	<div class="tab-content">
		<% if (error) { %>
		<p class="error">
			<%= error %>
		</p>
		<% } %>
		<div class="tab-pane active" id="profile">
			<form id="editForm" class="form-horizontal" method="post" action="/setting/profile" enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-sm-3 control-label" for="profilePic">Profile Picture</label>
					<div class="col-sm-9">
						<div class="picture">
							<% if (user.profilePicUrl) { %>
								<img src="<%=user.profilePicUrl%>" />
							<% } else { %>
							<% } %>
						</div>
						<p><small>Select an image file to upload/change your profile picture</small></p>
						<input type="file" id="profilePic" name="profilePic" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="firstName">First Name</label>
					<div class="col-sm-9">
						<input type="text" id="firstName" value="<%=user.firstName%>" placeholder="First Name" name="firstName" class="form-control" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="lastName">Last Name</label>
					<div class="col-sm-9">
						<input type="text" id="lastName" value="<%=user.lastName%>" placeholder="Last Name" name="lastName" class="form-control" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Department</label>
					<div class="col-sm-9">
						<select id="department" value="<%=user.departments%>" class="form-control" name="department" required>
						<% for (var i in departments) { 
							if (user.department == departments[i]){
							%>
							<option value="<%=departments[i]%>" selected><%=departments[i]%></option>
							<%
						} else{ %>
							<option value="<%=departments[i]%>"><%=departments[i]%></option>
						<% } }%>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Interests</label>
					<div class="col-sm-9">
						<div class="ui-widget">
						<input id="interests" class="form-control" data-interests="<%=interests%>" data-my-interests="<%=user.interests%>">
							</div>
							<br>
							<div id="interestList">					
							</div>
						</div>
					</div>
				<% if (user.userType == userConst.TYPE_STUDENT) { %>
					<div class="form-group">
						<label class="col-sm-3 control-label">Degree</label>
						<div class="col-sm-9">
							<select id="degree" class="form-control" name="degree" required>
							<% for (var i in degrees) { 
								if (user.extension.degree == degrees[i]){
								%>
								<option value="<%=degrees[i]%>" selected><%=degrees[i]%></option>
								<%
							} else{ %>
								<option value="<%=degrees[i]%>"><%=degrees[i]%></option>
							<% } }%>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Standing</label>
						<div class="col-sm-9">
							<select id="classStanding" class="form-control" name="classStanding" required>
							<% for (var i in classStandings) { 
								if (user.extension.classStanding == classStandings[i]){
								%>
								<option value="<%=classStandings[i]%>" selected><%=classStandings[i]%></option>
								<%
							} else{ %>
								<option value="<%=classStandings[i]%>"><%=classStandings[i]%></option>
							<% } }%>
							</select>
						</div>
					</div>
				<% } else if (user.userType == userConst.TYPE_FACULTY) { %>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="websiteUrl">Website</label>
						<div class="col-sm-9">
							<input type="url" id="websiteUrl" value="<%=user.extension.websiteUrl%>" name="websiteUrl" class="form-control" />
						</div>
					</div>
				<% } %>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-primary">Update Profile</button>
					</div>
				</div>
			</form>
		</div>
		
		<!-- Additional Info -->
		<div class="tab-pane" id="addtionalInfo">
			<form id="additionalInfoForm" class="form-horizontal" method="post" action="/setting/additionalInfo" enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-sm-3 control-label" for="intro">Introduction</label>
					<div class="col-sm-9">
						<textarea rows="5" cols="50" id="intro" name="intro" class="form-control"><% if (user.intro){ %><%=user.intro%><% } %></textarea>
					</div>
				</div>
				<% if (user.userType == userConst.TYPE_STUDENT) { %>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="resume">Resume</label>
					<div class="col-sm-9">
						<% if (user.extension.resumeUrl) { %>
							<p>Current Resume: <a href="<%=user.extension.resumeUrl%>" target="_blank">View</a></p>
						<% } else { %>
						<% } %>
						<p><small>Select an file to upload/change your resume</small></p>
						<input type="file" id="resume" name="resume" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="overallGPA">Overall GPA</label>
					<div class="col-sm-9">
						<input type="number" id="overallGPA" value="<%=user.extension.overallGPA%>" placeholder="overall GPA" name="overallGPA" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="technicalGPA">Technical GPA</label>
					<div class="col-sm-9">
						<input type="number" id="technicalGPA" value="<%=user.extension.technicalGPA%>" placeholder="technical GPA" name="technicalGPA" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Courses Taken</label>
					<div class="col-sm-9">
						<div class="ui-widget">
							<input id="courses" class="form-control" data-courses="<%=courses%>" 
									data-my-courses="<%=user.extension.coursesTaken%>" data-my-type="<%=user.userType%>">
						</div>
						<br>
						<div id="courseList">					
						</div>
					</div>
				</div>
				<% } else if (user.userType == userConst.TYPE_FACULTY) { %>
				<div class="form-group">
					<label class="col-sm-3 control-label">Courses Taught</label>
					<div class="col-sm-9">
						<div class="ui-widget">
							<input id="courses" class="form-control" data-courses="<%=courses%>" 
									data-my-courses="<%=user.extension.coursesTaught%>" data-my-type="<%=user.userType%>">
						</div>
						<br>
						<div id="courseList">					
						</div>
					</div>
				</div>
				<% } %>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-primary">Update Addtional Info</button>
					</div>
				</div>
			</form>
		</div>
		
		<!-- Change Password -->
		<div class="tab-pane" id="privacy">
			<form id="changePasswordForm" class="form-horizontal" method="post" action="/setting/changePW">
				<div class="form-group">
					<label class="col-sm-3 control-label" for="oldPassword">Old Password</label>
					<div class="col-sm-9">
						<input type="password" id="oldPassword" placeholder="Old Password" name="oldPassword" class="form-control" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="newPassword">New Password</label>
					<div class="col-sm-9">
						<input type="password" id="newPassword" placeholder="New Password" name="newPassword" class="form-control" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="confirmNewPassword">Confirm New Password</label>
					<div class="col-sm-9">
						<input type="password" id="confirmNewPassword" placeholder="Confirm New Password" name="confirmNewPassword" class="form-control" required />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit" class="btn btn-primary">Update Password</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	
</div>

<script>
var count = 1;
var interestsAdded = [];
$(function() {
    var availableTags = $("#interests").data("interests").split(",");
    $("#interests").autocomplete({
		source: availableTags
	});

    if ($("#interests").data("myInterests")=="undefined"){
    	return;
    }
    
    var myInterests = $("#interests").data("myInterests").split(",");
	
    for (var i in myInterests){
    	var input = myInterests[i];
	    if (interestsAdded.length!=0 && interestsAdded.length%3==0){
			$("<br><br>").appendTo("#interestList");
		}
		
		interestsAdded.push(input);
		
		var innerHtml = "<span id=\"interestSelected"+count+"\" class=\"label label-default interest\" >"+
			input+"<span id=\"interestDelete"+count+"\" class=\"badge\">X</span></span>";
	
		innerHtml += "<input type=\"checkbox\" name=\"interests\" id=\"interestHidden"+count+"\""+
					" checked value=\""+input+"\" style=\"display:none;\" >";
		
		$(innerHtml).appendTo("#interestList");
		
		$("#interestDelete"+count).data("count", count);
		$("#interestDelete"+count).click(function(){
			var c = $(this).data("count");
			$("#interestSelected"+c).remove();
			$("#interestHidden"+c).remove();
		});
		count++;
    }
});

$("#interests").keypress(function(e) {
    if(e.which == 13) {
    	event.preventDefault();
    	
    	var input = $("#interests").val();
    	if ( $("#interests").data("interests").split(",").indexOf(input) < 0 || 
    			(interestsAdded.length > 0 && interestsAdded.indexOf(input) >= 0) ){
    	}
    	else {
    		if (interestsAdded.length!=0 && interestsAdded.length%3==0){
    			$("<br><br>").appendTo("#interestList");
    		}
    		
    		interestsAdded.push(input);
    		
    		var innerHtml = "<span id=\"interestSelected"+count+"\" class=\"label label-default interest\" >"+
    			input+"<span id=\"interestDelete"+count+"\" class=\"badge\">X</span></span>";

			innerHtml += "<input type=\"checkbox\" name=\"interests\" id=\"interestHidden"+count+"\""+
						" checked value=\""+input+"\" style=\"display:none;\" >";
			
    		$(innerHtml).appendTo("#interestList");
    		
    		$("#interestDelete"+count).data("count", count);
    		$("#interestDelete"+count).click(function(){
    			var c = $(this).data("count");
    			$("#interestSelected"+c).remove();
    			$("#interestHidden"+c).remove();
    		});
    		count++;
    	}
    }
});

var count2 = 1;
var coursesAdded = [];
$(function() {
    var availableTags = $("#courses").data("courses").split(",");
    $("#courses").autocomplete({
		source: availableTags
	});
    
    if ($("#courses").data("myCourses")=="undefined"){
    	return;
    }
    
    var myCourses = $("#courses").data("myCourses").split(",");
    var myType = $("#courses").data("myType");
    var naming;
    if (myType="student"){
    	naming = "coursesTaken";
    }
    else {
    	naming = "coursesTaught";
    }
    
    for (var i in myCourses){
    	var input = myCourses[i];
    	if (coursesAdded.length!=0 && coursesAdded.length%2==0){
			$("<br><br>").appendTo("#courseList");
		}
    	
		coursesAdded.push($("#courses").val());
		var innerHtml = "<span id=\"courseSelected"+count2+"\" class=\"label label-info course\" >"+
			input+"<span id=\"courseDelete"+count2+"\" class=\"badge\">X</span></span>";

		innerHtml += "<input type=\"checkbox\" name=\""+naming+"\" id=\"courseHidden"+count2+"\""+
					" checked value=\""+input+"\" style=\"display:none;\" >";
		
		$(innerHtml).appendTo("#courseList");
		$("#courseDelete"+count2).data("count", count2);
		$("#courseDelete"+count2).click(function(){
			var c = $(this).data("count");
			$("#courseSelected"+c).remove();
			$("#courseHidden"+c).remove();
		});
		count2++;
    }
});

$("#courses").keypress(function(e) {
    if(e.which == 13) {
    	event.preventDefault();
    	var input = $("#courses").val();
    	if ( $("#courses").data("courses").split(",").indexOf(input) < 0 || 
    			(coursesAdded.length > 0 && coursesAdded.indexOf(input) >= 0) ){
    	}
    	else {
    		if (coursesAdded.length!=0 && coursesAdded.length%2==0){
    			$("<br><br>").appendTo("#courseList");
    		}
    		
    		var myType = $("#courses").data("myType");
    	    var naming;
    	    if (myType="student"){
    	    	naming = "coursesTaken";
    	    }
    	    else {
    	    	naming = "coursesTaught";
    	    }
    		
    		coursesAdded.push($("#courses").val());
    		var innerHtml = "<span id=\"courseSelected"+count2+"\" class=\"label label-info course\" >"+
    			input+"<span id=\"courseDelete"+count2+"\" class=\"badge\">X</span></span>";

    		innerHtml += "<input type=\"checkbox\" name=\""+naming+"\" id=\"courseHidden"+count2+"\""+
				" checked value=\""+input+"\" style=\"display:none;\" >";
			
    		$(innerHtml).appendTo("#courseList");
    		
    		$("#courseDelete"+count).data("count", count2);
    		$("#courseDelete"+count).click(function(){
    			var c = $(this).data("count");
    			$("#courseSelected"+c).remove();
    			$("#courseHidden"+c).remove();
    		});
    		count++;
    	}
    }
});

jQuery.validator.addMethod("isValidNetId", 
	function(value, element) {
    	return /\b[a-zA-Z]+[0-9]+\b/.test(value);
    },
    jQuery.validator.format("Please enter a valid netID.")
);

jQuery.validator.addMethod("isValidName", 
	function(value, element) {
    	return /\b[a-zA-Z]+\b/.test(value);
    },
    jQuery.validator.format("Only alphabets are allowed for names.")
);

$('#editForm').validate({
	rules: {
		firstName: {
			isValidName: true
		},
		lastName: {
			isValidName: true
		},
		confirm: {
			equalTo: "#password"
		}
	},
	errorClass: "validate-error",
	messages: {
		remote: jQuery.validator.format("{0} is already taken.")
	}
});

$('#additionalInfoForm').validate({
	rules: {
		overallGPA: {
			range: [0.0, 4.0]
		},
		technicalGPA: {
			range: [0.0, 4.0]
		}
	},
	errorClass: "validate-error",
});

$('#changePasswordForm').validate({
	rules: {
		newPassword: {
			minlength: 8,
			maxlength: 20
		},
		confirmNewPassword: {
			equalTo: "#newPassword"
		}
	},
	errorClass: "validate-error"
});
</script>

<%- include ../partials/footer.ejs %>