<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">List of followees</h4>
</div>
<div class="modal-body">
<% for (var i in userBriefs) { %>
	<div class="user" id="<%=userBriefs[i].detailId%>">
		<div class="top row">
			<div class="col-md-4">
				<div class="picture">
				</div>
			</div>
			<div class="side col-md-8">
				<p class="name">
					<a data-toggle="modal" href="/profile/modal/<%=userBriefs[i].detailId%>" data-target="#userProfileModal">
						<%=userBriefs[i].firstName%></br /><%=userBriefs[i].lastName%>
					</a>
				</p>
				<div class="email">
					<a href="mailto:<%=userBriefs[i].netId%>@illinois.edu">
						<em><%=userBriefs[i].netId%>@illinois.edu</a>
					</em>
				</div>
			</div>
		</div>
		<div class="interests">
			<span class="label label-info">Software Engineering</span>
			<span class="label label-info">Data Mining</span>
			<span class="label label-info">Computer Architecture</span>
			<span class="label label-info">Database</span>
		</div>
	</div>
<% } %>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
